
body{
  background-color: #2f3544;
  color: white;
}

.App {
  text-align: center;
}

.card{
  width: 90%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding-left: 80px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 230px;
}

.card-description{
  position: absolute;
  padding-left: 20px;
  margin-top: 250px;
}


.card-text{
  padding-left: 50px;
  font-size: 18px;
}

.card-button{
  position: absolute;
  margin-top: 330px;
  margin-left: -120px;
}

.img{
width: 100%;
height: 365px;
}